:root {
    --black : black;
    --white : white;
    --red : orangered;
    --green : lawngreen;
    --blue : deepskyblue;
    --blue2 : dodgerblue;
    --lblue : lightskyblue;
    --lgrey : gainsboro;
    --gray : gray;
    --gray2 : gray;
    --orange : darkorange;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black);
}

h3 {
    margin: 0;
}

.w-100 {
    width: 100%;
}

.w-a-100 {
    width: 100vw;
}

.h-a-90 {
    height: 90vh;
}

.flex {
    display: flex;
}

.bs-bb {
    box-sizing: border-box;
}

.flex-100 {
    flex: 0 0 100vw;
}

.fixed {
    position: fixed;
}

.carousel-img {
    position: relative;
    right: 0%;
    transition: 1s;
}

.p {
    padding: 5px;
}

.m {
    margin: 20px;
}

.m0 {
    margin: 0;
}

.p {
    padding: 20px;
}

.p-w {
    padding: 0 20px;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

.gap {
    gap: 20px;
}

.gap-2 {
    gap: 10px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-white, .a-white a{
    color: var(--white);
}

.logo {
    width: 60px;
    height: 60px;
}

.bottom-shadow {
    box-shadow: 0 1px 10px var(--black);
}

.font {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-weight: bold;
    color: transparent;
    font-size: 10vw;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--green);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

.bg-black a {
    color: var(--white);
}

.bg-black .active {
    border: none;
    border-bottom: 2px solid var(--white);
}

.bg-white a {
    color: var(--black);
}

.bg-white .active {
    border: none;
    border-bottom: 2px solid var(--black);
}

button, .btn {
    transition: 0.5s;
    border: solid 2px var(--blue);
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
}

button:hover, .btn:hover {
    transition: 0.5s;
    background-color: var(--blue);
}



.btn-red {
    border: solid 2px var(--red);
}

.btn-green {
    border: solid 2px var(--green);
    color: var(--green);
}


.btn-black {
    border: solid 2px var(--black);
    color: var(--black);
}

.fs-2 {
    font-size: 10vh;
}

.fs-bold {
    font-size: larger;
    font-weight: bolder;
}

.right {
    left: 80%;
}

.bottom-center {
    top: 50%;   
}

.bottom {
    top: 80%;
}

.btn-red:hover {
    transition: 0.5s;
    background-color: var(--red);
}
.btn-green:hover {
    transition: 0.5s;
    background-color: var(--green);
    color: var(--white);
}

.btn-black:hover {
    transition: 0.5s;
    background-color: var(--black);
    color: var(--white);
}

.btn:disabled {
    background-color: var(--gray);
}

.btn:disabled:hover {
    transition: 0.5s;
    border-color: var(--red);
    color: var(--red);    
}

.p-0 {
    padding: 10px;
}

.ico {
    transition: 0.5s;
    width: 30px;
    height: 30px;
}

.ico:hover {
    transition: 0.5s;
    scale: 1.2;
}

.menu-actions {
    display: none;
}

.toggled #no-toggled {
    display: none;
}

.no-toggled #toggled {
    display: none;
}

.sticky {
    position: fixed;
    animation: reveal 1s;
    top: 0;
    transition: 2s;
}

.loop-h {
    position: relative;
    animation: loopH 30s infinite;
}

@keyframes loopH {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes reveal {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}


.w-100-2 {
    width: 90%;
}

.raduis-100 {
    border-radius: 100%;
}

.p-h {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
}


.bg-black {
    background-color: var(--black);
    color: var(--white);
}

nav {
    z-index: 200;
}

.p-top {
    padding-top: 80px;
}

.m-top {
    margin-top: 100px;
}

.logo-2 {
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border-radius: 100%;
}

.bg-lblue {
    background-color: var(--blue2);
}

.bg-lgrey {
    background-color:var(--gray2);
}

.b-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.z-100 {
    z-index: 100;
}

.p-style {
    background-color: var(--blue2);
    padding: 20px;
}

input,  textarea, select {
    color: var(--black);
}

.m-w {
    margin: 0 50px;
}

.p-w {
    padding: 0 100px;
}

.img {
    width: 100%;
    height: 100%;
}


.img-2 {
    width: 50%;
    height: 100%;
}

.bg-grey {
    background-color: var(--gray);
    color: var(--white);
}

.w {
    width: 200px;
}

.w-2 {
    width: 400px;
}

.text-lblue {
    color: var(--blue2);
}

.text-black {
    color: var(--black);
}

.text-blue {
    color: var(--blue2);
}

.text-green {
    color: var(--green);
}

.raduis {
    border-radius: 20px;
}

.bg-blue {
    background-color: var(--blue2);
    color: white;
}

.h {
    height: 400px;
}

.h-2 {
    height: 550px;
}

.sized {
    width: 300px;
}

.bg-lblue {
    background-color: var(--lblue);
}

input, textarea, select {
    background-color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.logo-3 {
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border-radius: 100%;
}


.overflow-x {
    width: 100%;
    overflow-x: hidden;
    justify-content: start;
}

.overflow-y {
    width: 90%;
    height: 600px;
    overflow-y: auto;
    align-items: start;
}

.hover {
    transition: 0.5s;
    scale: 1;
}

.hover:hover {
    transition: 0.5s;
    scale: 1.1;
    box-shadow: 0 0 25px var(--gray);
}

.b-right {
    border-right: 5px solid var(--gray2);
}

.text-dgrey {
    color:dimgray;
}

.bg-orange {
    background-color: var(--orange);
    color: var(--white);
}

.hidden {
    display: none;
}

.form {
    transition: 0.5s;
    overflow: hidden;
    width: 0;
    padding: 0;
    height: fit-content;
}

.selected {
    transition: 0.5s;
    width: 500px;
}

.backdrop {
    backdrop-filter: blur(10px);
}

.b-lgrey {
    border: 2px solid var(--lgrey);
}

@media screen and (max-width: 720px) {
    .flex {
        flex-direction: column;
    }

    .menu-actions {
        display: initial;
    }

    .b-right {
        border-right: none;
        border-bottom: solid 2px var(--gray);
        padding-bottom: 10px;
    }

    .hold {
        flex-direction: row;
    }

    .no-toggled .links {
        transition: 1s;
        overflow-y: hidden;
        height: 0px;
    }

    .toggled .links {
        transition: 1s;
        overflow-y: hidden;
        height: 220px;
    }

    .no-toggled {
        gap: 0;
    }

    .img-2 {
        width: 100%;
    }
}

.toleft,.toright,.toup {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
}

.left {
    animation: to-left 2s;
    opacity: 1;
}

.right {
    animation: to-right 2s;
    opacity: 1;
}

.up {
    animation: to-up 2s;
    opacity: 1;
}

@keyframes to-left {
    0% {
        left: 100vw;
        opacity: 0;
    }
    100% {
        left: 0vw;
        opacity: 1;
    }
}

@keyframes to-right {
    0% {
        left: -100vw;
        opacity: 0;
    }
    100% {
        left: 0vw;
        opacity: 1;
    }
}

@keyframes to-up {
    0% {
        top: 50vh;
        opacity: 0;
    }
    100% {
        top: 0vh;
        opacity: 1;
    }
}



